

:root {
    --primary-color: #023047;
    --font-family: "Roboto Condensed", sans-serif;
    --font-color: #023047;
    --font-size: 16px;
    --fondo-card: #E0E0E0;
    --color-btn: #FFB703;
}

*{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('/static/img/fondo.jpeg');
    background-position: center;
}

#logo1{
    width: 50px;
    height: 50px;
}


/*------  carrusel  -----------*/
#carousel {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    & .carousel-inner img {
        width: auto;
        height: 700px;
        border-radius: 10px;
    }
}


.imgheader{
    object-fit: cover;
    object-position: 50% 20%;
}

.carousel-caption{
    background-color: rgba(224, 224, 224, 0.8);
    & h3{
        color: var(--font-color);
        font-weight: 700;
    }
    & p{
        color: var(--font-color);
        font-size: 1.3em;
    }
}

/*------  Ultimos Estrenos  -----------*/
.uppercase{
    text-transform: uppercase;
}

/*------  Navbar  -----------*/

.navbar{
    background-color: var(--primary-color); 
    & a{
        font-size: 20px;
        color: white;
    }
}

#titulo{
    font-size: 30px;
}
/*------  Card  -----------*/

.card{
    height: 484.5px;
    background-color: var(--fondo-card);
    transition: all 0.3s;

    & img{
        width: 250px;
        border-radius: 30px;
        padding: 10px; 
    }

    & h5,p{
        font-size: 25px;
        color: var(--font-color);
    }

    & button{
        font-size: 30px;
        color: black;
        background-color: var(--color-btn);
        border: transparent;
        border-radius: 10px;
    }

    &:hover{
        transform: scale(1.05);
    }
}


h2{
    font-size: 50px;
    color: var(--fondo-card);
    padding-top: 20px;
}

footer{
    background-color: var(--primary-color);
    color: white;
}